@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Space Grotesk', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
}

#viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.rotating-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.cta::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -2px;
    width: 28px;
    height: 4px;
    background-color: rgb(37, 99, 235);
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #68d391;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: #68d391;
}

.mouse-interaction {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px !important;
    width: 90px !important;
    border-radius: 50%;
}

.mouse-interaction::after {
    content: '';
    width: 90px !important;
    height: 90px !important;
    transition: all 250ms;
    animation: rotating 3s linear infinite;
}

.mouse-follow {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    pointer-events: none !important;
    transition: width 250ms, height 250s, animation 250ms;
    /* transition: all 250ms; */

}

.mouse-follow::after {
    content: '';
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: 3px dotted rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}


.media-blend {
    mix-blend-mode: exclusion;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}